/* === Custom Styles  === */
body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-color: #F3F3F2;
}

.scale1{
	transform: scale(10);
}

.scale0{
	transform: scale(1);
}

/* === Custom Styles Nav ==== */
.custom-nav{
	background: linear-gradient(left,#a7f93d,#d74747);
	background: -webkit-linear-gradient(left,#a7f93d,#d77047);
	background: -moz-linear-gradient(left,#a7f93d,#d77047);
	background: -ms-linear-gradient(left,#a7f93d,#d77047);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.custom-nav ul li a{
	color:#fff!important;
}
.navbar-brand{
	color:#fff!important;
}
.content{
	margin-top: 50px;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text {
    padding: 0.5rem;
    width: 100%;
  }
  
  .correcto {
    background-color: #28a745;
  }
  
  .incorrecto {
    background-color: #dc3545;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 1rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 15rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
  }
  
  /* LOADER */
  #loader {
    border: 1.2rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 8rem;
    height: 8rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  h1 {
    font-size: 1rem;

  }
    
  h2 {
    font-size: 1rem;

  }
  
  h3 {
    font-size: 1rem;
   
  }
  h4 {
    font-size: 1rem;
    text-align: center;
  }
  .form-control{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0px;
    border-bottom: 1px solid #d77047;
    padding:6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .btn2 {
      font-size: 1rem;
      padding: 1rem 0;
      width: 10rem;
      text-align: center;
      border: 0.1rem solid #56a5eb;
      margin-bottom: 1rem;
      text-decoration: none;
      color: #56a5eb;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
               
      }

      .flex-column2 {
        display: flex;
        flex-direction: column;
      }
      
      .flex-center2 {
        justify-content: center;
        align-items: center;
      }